<div id="cid_{{comment.key().id()}}" class="comment">
  <div class="comment-header">
    <div class="comment-author">
        {{comment.author}}
    </div>
    <div class="comment-date">
        {{comment.created.strftime("%b %d, %Y %H:%M")}}
    </div>
    <div class="">
        Last modified:
    </div>
    <div class="comment-date">
        {{comment.last_modified.strftime("%b %d, %Y %H:%M")}}
    </div>
  </div>

  {% if isedit %}
    <textarea form="actions" class="edit-textarea"
        name="content">{{comment.content | safe}}</textarea>
    <div class="comment-buttons">


    <div class="error">
      {{error}}
    </div>
    <input form="actions" type="hidden"
           name="comment_id" value="{{comment.key().id()}}">
    <input form="actions" type="submit"
          name="action" value="Submit comment">
    <input form="actions" type="submit"
          name="action_cancel" value="Cancel">
    </div>
  {% else %}
  <div class="comment-content">
    {{comment._render_text | safe}}
  </div>
  {% endif %}
</div>
