{% extends "permalink.html" %}

{% block comments %}
<!-- comments block -->
<h3 class="comments-title">Comments</h3>
{% if user and (user != post.author) %}
    <input form="actions" type="submit" name="action_comment"
           value="Add comment">
           <span class="error">
             {{delete_msg}}
         </span>
{% endif %}
<!-- New comment form -->
{% if act == 'Add comment' %}
    <!-- Do not show form if user not logged in or user is an author -->
    {% if user and not user == post.author %}
        <label>
          <textarea  id="cid_0" form="actions"
                    class="textarea" name="content">{{content}}</textarea>
            <div class="error">
              {{error}}
            </div>
        </label>

        <input form="actions" type="submit"
               name="action_comment" value="Submit comment">
        <input form="actions" type="submit"
               name="action_cancel" value="Cancel">
   {% else %}
   <div class="error">
     Please, <a href="/blog/login">login</a> to write a comment
   </div>
   {% endif %}
{% endif %}

{% if comments %}

    {% for comment in comments %}

        {{ comment.render(comment.key().id()|string == edit_id) | safe }}
        {% if comment.author == user %}
            <form id="form_{{comment.key().id()}}" method="post">
                <input type="hidden"
                       name="comment_id" value="{{comment.key().id()}}">
              {% if not edit_id %}
                    <input type="submit"
                           name="action_comment" value="Edit comment">
                    <input type="submit"
                           name="action_comment" value="Delete comment">
              {% endif %}
           </form>
        {% endif %}
    {% endfor %}
{% endif %}


{% endblock %}
