<div id="id_{{comment.key().id()}}" class="comment">
  <div class="comment-header">

    <div class="comment-author">
        {{comment.author}}
    </div>
    <div class="comment-date">
        {{comment.created.strftime("%b %d, %Y %H:%M")}}
    </div>
  </div>

  {% if isedit %}
    <textarea form="actions"
                class="textarea" name="content">{{comment._render_text | safe}}
    </textarea>
    <div class="error">
      {{error}}
    </div>
    <input form="actions" type="hidden"
           name="comment_id" value="{{comment.key().id()}}">
    <input form="actions" type="submit"
          name="action" value="Submit comment">
    <input form="actions" type="submit"
          name="action_cancel" value="Cancel">
  {% else %}
  <div class="comment-content">
    {{comment._render_text | safe}}
  </div>
  {% endif %}
</div>
