{% extends "base.html" %}

{% block content %}
    {% if post_deleted %}
        <span class="error">Post deleted</span>
    {% else %}
        {{post.render() | safe}}
        <!-- show "edit" button if user == author of the post -->
        {% if user == post.parent().username %}
            <form method="post">
                <input type="submit" name="action" value="Edit">
                <input type="submit" name="action" value="Delete">
                {% if action == 'delete' %}
                    <span class="error">Confirm post deletion</span>
                    <input type="submit" name="action_delete" value="Confirm">
                    <input type="submit" name="action_cancel" value="Cancel">
                {% endif %}
            </form>

        {% endif %}
    {% endif %}
{% endblock %}
