{% extends "base.html" %}

{% block content %}

{% if post_deleted %}
    <span class="error">Post deleted</span>
{% else %}
    {{post.render() | safe}}
    <!-- show action form button if user == author of the post -->
    <form id="actions" method="post">
    {% if user and (user != post.author) %}
        <input form="actions" type="submit" name="action" value="{{like_st}}">
    {% endif %}
    {% if user == post.author %}

            <input type="submit" name="action" value="Edit">
            <input type="submit" name="action" value="Delete">

        {% endif %}
            {% if action == 'Delete' %}
                <span class="error">Confirm post deletion</span>
                <input type="submit" name="action_delete" value="Confirm">
                <input type="submit" name="action_cancel" value="Cancel">


    {% endif %}
    </form>
{% endif %}
{% block comments %}

{% endblock %}
{% endblock %}
