<div class="post">
  <div class="post-header">
    <div class="post-date">
        {{post.created.strftime("%b %d, %Y %H:%M")}}
    </div>
    <h2 class="post-title">
        <a href="/blog/{{post.parent().username}}/{{post.key().id()}}">
            {{post.subject}}
        </a>
    </h2>
  </div>

  <div class="post-content">
    {{post._render_text | safe}}
  </div>

  <div class="post-footer">
    <div class="post-author">
      Posted by
        <a href="/blog?author_name={{post.parent().username}}"
           title="View all {{post.parent().username}} posts">
            {{post.parent().username}}
        </a>
    </div>
  </div>
</div>
