{% set post_link = "/blog/" + post.author +
    "/" + post.key().id()|string %}

<div class="post">
  <div class="post-header">
    <div class="post-date">
        {{post.created.strftime("%b %d, %Y %H:%M")}}
    </div>
    <h2 class="post-title">
        <a href={{post_link}}>
            {{post.subject}}
        </a>
    </h2>
  </div>

  <div class="post-content">
    {{post._render_text | safe}}
  </div>

  <div class="post-footer">
    <div class="post-author">
      Posted by
        <a href="/blog?author_name={{post.author}}"
           title="View all {{post.author}} posts">
            {{post.author}}
        </a>
    </div>
    <div class="post-commcount">
        <a href="{{post_link}}#comments">{{post.comment_cnt}} Comments</a>
    </div>
    <div class="post-likecount">
        {{post.like_cnt}} Likes
    </div>
  </div>
</div>
